<div class="board-row">
    <app-square [index]="0" [value]="current.squares[0]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="1" [value]="current.squares[1]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="2" [value]="current.squares[2]" (cellClick)="onCellClick($event)"></app-square>
</div>
<div class="board-row">
    <app-square [index]="3" [value]="current.squares[3]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="4" [value]="current.squares[4]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="5" [value]="current.squares[5]" (cellClick)="onCellClick($event)"></app-square>
</div>
<div class="board-row">
    <app-square [index]="6" [value]="current.squares[6]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="7" [value]="current.squares[7]" (cellClick)="onCellClick($event)"></app-square>
    <app-square [index]="8" [value]="current.squares[8]" (cellClick)="onCellClick($event)"></app-square>
</div>

